{"title": "software verification", "tags": ["verification", "interest"]}
verified compilers, interpreters
ACL2 theorem prover
Jitawa, Milawa
TLA

